################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/digit_app/v15
/.vs/slnx.sqlite
/pca10040/s132/armgcc/_build
/.vs/VSWorkspaceState.json
